{% extends "base.html" %}

{% block content %}

<h2>Products</h2>

<a href="/products/add/">
<button>Add Product</button>
</a>

<br><br>

<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Price</th>
<th>Quantity</th>
<th>Actions</th>
</tr>

{% for product in products %}

<tr>
<td>{{ product.id }}</td>
<td>{{ product.name }}</td>
<td>{{ product.price }}</td>
<td>{{ product.quantity }}</td>

<td>
<a href="/products/edit/{{product.id}}">
<button>Edit</button>
</a>

<a href="/products/delete/{{product.id}}">
<button>Delete</button>
</a>
</td>

</tr>

{% endfor %}

</table>

<form method="GET">

<input type="text" name="search" placeholder="Search Product">

<button type="submit">Search</button>

</form>

<br>

{% endblock %}